[submodule "lisp/org-dashboard"]
	path = lisp/org-dashboard
	url = https://github.com/bard/org-dashboard
[submodule "lisp/org-screenshot"]
	path = lisp/org-screenshot
	url = https://github.com/dfeich/org-screenshot
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "lisp/neotree"]
	path = lisp/neotree
	url = https://github.com/jaypei/emacs-neotree
