[submodule "lisp/org-dashboard"]
	path = lisp/org-dashboard
	url = https://github.com/bard/org-dashboard
[submodule "lisp/org-screenshot"]
	path = lisp/org-screenshot
	url = https://github.com/dfeich/org-screenshot
